* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 10px;
  border: 1px solid lightgreen;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

.pageWrapper {
  margin: 30px 0;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.pageCurrent {
  font-weight: bold;
  background-color: lightgreen;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightgrey;
}

.navbarLinks {
  margin-left: auto;
}

.navbarLinks > a {
  text-decoration: none;
  padding-left: 5px;
}
